<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="exitModal()">
      <ion-button>
        <ion-icon name="chevron-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input placeholder="Descrição breve do produto" name="name" type="text" [(ngModel)]="itens.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Valor</ion-label>
      <ion-input placeholder="Valor em R$ 0,00" name="value" type="number"  [(ngModel)]="itens.value"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="saveItens()">Salvar</ion-button>
</ion-content>
